/*---------------------------
ROOT
-----------------------------*/
/* Variables */
:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-main-bg: hsl(217, 54%, 11%);
  --clr-card-bg: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --clr-box-shadow: hsla(0, 0%, 0%, 0.1);
  /* --clr-overlay: hsl(178, 100%, 50%, 0.5); */
}

/*---------------------------
RESET
-----------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*---------------------------
GLOBAL
-----------------------------*/
body {
  background-color: var(--clr-main-bg);
  color: var(--clr-soft-blue);
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header-image {
  border-radius: 8px;
}

.image-overlay {
  display: block;
  position: relative;
  outline: none;
}

.image-overlay::before {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  content: "";
  --clr-cyan: hsl(178, 100%, 50%, 0.5);
  background-color: var(--clr-cyan);
  background-image: url("../images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.image-overlay:hover::before,
.image-overlay:focus::before {
  opacity: 1;
}

/* .image-overlay::after {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  content: "";
  --clr-cyan: hsl(178, 100%, 50%, 0.5);
  background-color: var(--clr-cyan);
  background-image: url("../images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-out;
}

.image-overlay:hover::after,
.image-overlay:focus::after {
  opacity: 1;
} */

/* .image-ethereum {
  max-width: 11px;
  max-height: 18px;
}

.image-clock {
  max-width: 16px;
  max-height: 16px;
} */

.image-avatar {
  max-width: 33px;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}

/*---------------------------
TYPOGRAPHY
-----------------------------*/
.card-body-title {
  color: var(--clr-white);
  font-size: 22px;
  font-weight: 600;
  line-height: 28px; /* 1.2727 */
  margin-top: 24px;
  margin-bottom: 12px;
  transition: color 0.3s ease-out;
}

.card-body-title:hover {
  color: var(--clr-cyan);
  cursor: pointer;
}

.card-body-main-text {
  line-height: 26px; /* 1.4444 */
  margin-bottom: 16px;
}

.card-body-eth {
  color: var(--clr-cyan);
  font-size: 15px;
  font-weight: 600;
  line-height: 19px; /* 1.2666 */
  padding-left: 6px;
}

.card-body-days {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px; /* 1.2666 */
  padding-left: 7px;
}

.card-body-line {
  border: none;
  border-bottom: 1px solid var(--clr-line);
  margin: 16px 0;
}

.card-body-creation {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px; /* 1.2666 */
  padding-left: 16px;
}

.card-body-creation-name {
  color: var(--clr-white);
  transition: color 0.3s ease-out;
}

.card-body-creation-name:hover {
  color: var(--clr-cyan);
  cursor: pointer;
}

/* 
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} 
*/

/*---------------------------
LAYOUT
-----------------------------*/
.container {
  background-color: var(--clr-card-bg);
  padding: 24px;
  border-radius: 15px;
  box-shadow: 0px 25px 50px var(--clr-box-shadow);
  margin: 62px 24px;
  max-width: 327px;
}

/* Layout Utility Classes  */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/*---------------------------
MEDIA QUERIES
-----------------------------*/
@media (min-width: 400px) {
  .container {
    max-width: 350px;
    padding-bottom: 32px;
  }
  .card-body-title {
    margin-bottom: 16px;
  }
  .card-body-main-text {
    margin-bottom: 24px;
  }
  .card-body-line {
    margin-top: 24px;
  }
  .card-body-eth,
  .card-body-days,
  .card-body-creation {
    font-size: 16px;
  }
}
